body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-bottom: 96px;
}

* {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

.btn {
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
}

.header {
  background: rgba(30, 30, 30, 0.48);
  position: absolute;
  width: 100%;
  padding: 0;
  z-index: 2;
}

.nav-list {
  display: flex;
  gap: 32px;
}

.nav-item a {
  position: relative;
}
.nav-item a::before {
  width: 0;
  height: 1px;
  content: '';
  position: absolute;
  bottom: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.nav-item a:hover::before {
  width: 100%;
}

.nav-item a.active::before {
  width: 100%;
}

.nav-item {
  width: 100%;
}

.buttons-list {
  display: flex;
  gap: 12px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.fav-btn {
  width: 53px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ececec;
}

.fav-btn svg {
  transition: 0.3s all ease-in-out;
}
.fav-btn:hover svg {
  transform: scale(1.1);
}

.active-fav-btn {
  width: 53px;
  height: 53px;
  text-align: center;
  background: #dd377d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-header-btn {
  fill: #fff;
  filter: brightness(10);
}

.signin-btn {
  display: flex;
  width: 163px;
  padding: 12px 0px;
  justify-content: center;
  align-items: center;
  background: #d3eaff;
  color: #000;
  text-align: center;
  font-family: Syne;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  transition: 0.3s all ease-in-out;
}

.signin-btn:hover {
  background: #d3eaffe5;
}

.signin-btn:active {
  background-color: #d3e2ff;
  transform: scale(0.95);
}

.hero-section {
  height: 740px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/firstImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 1440px;
  margin: 0 auto 0 auto;
}

.hero-header {
  color: #fff;
  text-align: center;
  font-family: Syne;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  pointer-events: none;
}

.hero-header-span {
  display: block;
  color: #fff;
  text-align: center;
  font-family: Syne;
  font-size: 310px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  z-index: 5;
}

.hero-text {
  position: absolute;
  bottom: 33px;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  z-index: 5;
  display: flex;
  gap: 12px;
}

.popular-tours-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.popular-tours-header {
  color: #1e1e1e;
  font-family: Syne;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.popular-tours-container {
  padding-top: 39px;
}

.popular-tours-item-header {
  color: #1e1e1e;
  text-align: center;
  font-family: Syne;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.popular-tours-item {
  width: 100%;
  border: 1px solid #d3eaff;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.popular-tours-item-photo {
  width: 100%;
}

.popular-tours-text {
  color: #556b84;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 64px;
}

.popular-tours-info-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  padding: 0 32px 12px 32px;
}

.popular-tours-info-header {
  display: flex;
  flex-direction: column;
}

.popular-tours-btn-list {
  display: flex;
  gap: 16px;
}

.popular-tours-pagination_bottom {
  display: flex;
  column-gap: 8px;
  margin-top: 40px;
  justify-content: center;
}

.popular-tours-pagination_bottom-dot {
  width: 24px;
  height: 24px;
  filter: brightness(0);
}

.buy-btn-wrapper {
  flex-grow: 2;
}

.buy-btn {
  width: 100%;
}

.buy-btn:hover {
  background: #d3eaffa1;
}

.favorites-hero-section {
  height: 480px;
  background-color: #121212;
  max-width: 1440px;
  margin: 0 auto 0 auto;
  z-index: 3;
  background-image: url(../images//astronautImage.png);
  background-size: cover;
}

.favorites-hero-header {
  color: #fff;
  text-align: center;
  font-family: Syne;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translate(-50%);
}

.clear-all {
  color: #556b84;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: none;
  background-color: transparent;
  margin-left: calc(100% - 84px);
  width: max-content;
  margin-bottom: 40px;
}

.favorites-cards-section {
  padding-top: 48px;
}

.favorites-cards-list {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
}

.custom-slider {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 740px;
  z-index: 0;
}

.photo {
  height: 740px;
  width: 100%;
}

.custom-dots {
  position: absolute;
  top: 52%;
  left: 47.5%;
  transform: translate(-50%);
  display: flex !important;
  gap: 8px;
}

.heart-icon {
  width: 22px;
  height: 22px;
  fill: #000;
}

.custom-dots li button {
  background-color: transparent;
  border: 0;
  color: transparent;
}

.custom-dots li {
  background-image: url(../images/dot.png);
  width: 24px;
  height: 24px;
}

.custom-dots .slick-active {
  background-image: url(../images/activeDot.png);
  width: 24px;
  height: 24px;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
}

.pagination-btn {
  width: 44px;
  height: 44px;
  padding: 10px;
}

.pagination-btns-wrapper {
  gap: 16px;
}

.arrow-down {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 104%;
  top: 8px;
  transition: 0.3s all ease-in-out;
}

.hero-text:hover svg {
  transform: scale(1.1);
}

.spaceX {
  filter: brightness(10);
  fill: white;
}

.logo-photo {
  width: 240px;
}
